@import "../../node_modules/antd/dist/antd.css";
@import "../Components/Colors.css";

.footer{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--bgNav);
    color: white;
}