@import "../../../node_modules/antd/dist/antd.css";
@import "../Colors.css";

.ItemTera{
    width: 100%;
    height: 70px;
    border-radius: 25px;
    background-color: white;
    align-items: center;
    transition: 0.2s;
}

.ItemTera:hover{
    box-shadow: 2px 6px 18px -1px rgba(0,0,0,0.53);
    -webkit-box-shadow: 2px 6px 18px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 6px 18px -1px rgba(0,0,0,0.53);
    cursor: pointer;
}

.ItemTera:active{
    border-style: ridge;
    border-width: 2px;
    border-color: var(--focusColor);
}

.comunItem{
    width: 100%;
    border-radius: 25px;

    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;

    margin-top: 10px;

    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s;
}

.comunItem:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--bgNav);
}