.bottomBar{
    background-color: #212121;
    color:#c5c5c5;
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0px 5%;
    justify-content: space-between;
    z-index: 1000;
}

.bottomBar div{
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 25px;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}

.bottomBar div:hover{
    transform: scale(1);
}

.bottomBar div p{
    font-size: 10px;
    margin: 0;
}