@import "../Components/Colors.css";
@import "../../node_modules/antd/dist/antd.css";

.Title{
    padding-top: 15px;
    padding-left: 20px;
    background-color: white;
}

.ContentLayout{
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.RowListView{
    background-color: var(--whitesecond);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.Cardview{
    width: 100%;
    min-height: 100px;

    border-radius: 20px;
    box-sizing: content-box;

    cursor: pointer;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    transition: all 0.3s ease-in-out;
}

.Cardview:hover{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

/*Icons of Cardview*/
.Cardview :nth-child(2){
    text-align: center;
    font-size: 40px;
    color: #5a33ae;
    transition: all 0.3s ease-in-out;
}

.Cardview:hover :nth-child(2){
    font-size: 45px;
}

.Cardview :nth-child(1){
    text-align: center;
}

/*SearchBar*/
.ComunSearch{
    width: 100%;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: var(--bgNav);
}

.ComunSearch button{
    border-radius: 50%;
    border:none;
    width: 40px;
    height: 40px;
    float:right;
    background: white;
    color: black;
}
.ComunSearch input{
    border: none;
    background: none;
    color: white;
    outline: none;
    font-size: 16px;
    line-height: 40px;
    width: 80%;
    padding: 0;
}
/*End SearchBar*/

.CollapsibleHeaderOff{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    height: 100px;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.BackImageCollapsible{
    background-size:cover;
    background-image: url("https://source.unsplash.com/random/800x600");
    background-position: center;
    display: flex;
    align-items:flex-start;
    align-items: center;
    padding-left: 10px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 250px;
    transition: 0.3s;
    z-index: -1;
}

.LogoWats{
    width: 45px;
    height: auto;
    background-image: url(/src/resources/WhatsLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.ToolBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: var(--bgNav);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.ToolBarCol{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 70px;
    padding-top: 20px;
    background-color: var(--bgNav);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}

.ToolBar .TBbuttons{
    border-radius: 50%;
    border:none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    background: white;
    color: black;
    transition: all 0.5s ease-in-out;
}

.ToolBarCol .TBbuttons{
    display: none;
    transition: all 0.5s ease-in-out;
}

.BottomRoundButton{
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 70px;
    font-size: 20px;
    z-index: 10;
    color: white;
    background: var(--bgNav);
    border: 3px solid #f0f2f5;
    transition: all .3s;
}

.BottomRoundButton:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    transition: all .3s;
}
   
.BottomRoundButton:active {
    transform: rotate(90deg);
}

.BackMenu{
    background-size:cover;
    background-image: url("https://source.unsplash.com/random/800x600");
    background-position: center;
    display: flex;
    align-items:flex-start;
    align-items: center;
    padding-left: 10px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 250px;
    transition: 0.3s;
    z-index: -1;
}